.flex-container {
  padding: 12px;
  background-color:lightsteelblue;
  position: absolute;
  top:0;
  left:0;
  right:0;
  height: 60px;
  /*width: 100%*/
}

.title {
  margin: 0;
  padding: 0;
  float: left;
  font-size:2em; 
  font-weight:bold; 
  font-family:'Segoe UI'
  , Tahoma
  , Geneva
  , Verdana
  , sans-serif; 
  /*width:800px;*/
  padding-right: 40px;  
}

a{
    height: 35px;
    background: #f3f3f3;    
}
a.button {

  margin-left: .2em;
  background-color: black;
  text-decoration: none;
  /*width: 150px;*/
}

input {
    background: #f3f3f3;
    border: 1px solid #d8d8d8;
    box-shadow: none;
    -webkit-appearance: none;
    height: 35px;
    font-weight: lighter;
    line-height: 17px;
    outline: 0;
    padding: 0 0 0 5px;
    /*width: 20%;*/
    height: 100%;
    font-family: FontAwesome;
}

.left {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
}
.right {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
}
